/* some style */

body {
    background: #fff;
    color: #000;
    font-family: sans-serif;
}

main {
    position: relative;
}
.controls {
    right: 0px;
    position: absolute;
    background: rgba(255,255,255,.5);
    padding: .5em;
}
label {
    display: block;
}
label span {
    width: 8em;
    display: inline-block;
}
